 /* Banner flotante en la esquina */
        .banner-mini {
            position: fixed;
            top: 70px;
            right: 20px;
            /* Cambia a left: 20px si quieres la izquierda */
            background-color: #ffcc00;
            color: #000;
            padding: 10px 15px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            z-index: 9999;
        }